---
// css
import "../styles/style.css";
// parts
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// section
import PostMv from "@components/ModuleMv.astro";
import ContactForm from "@components/ContactForm.astro";
---
<html lang="ja">
	<Head />
	<body>
		<div id="wrapper">
			<Header />
			<main>
				<PostMv />
				<ContactForm />
			</main>
			<Footer />
		</div>
	</body>
</html>