---
---
<section id="about-outline">
	<div class="sec-inner pt0">
		<div class="content-width">
			<div class="sec-ttl-box fadein-trigger is-active">
				<h2 class="sec-ttl">outline</h2>
				<p class="sec-sub-ttl">会社概要</p>
			</div>
			<div class="content-box">
				<div class="m-dl-container">
					<dl>
						<dt>商号</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>代表者</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>資本金</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>社員数</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>取引銀行</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>事業内容</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>建設業許可</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>溶接認証許可</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
					<dl>
						<dt>子会社</dt>
						<dd>テストテキストテストテキスト</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</section>