---
import { Image } from 'astro:assets';
import aboutImage01 from '../images/home/business_01.jpeg';
---
<section id="about-intro">
	<div class="sec-inner pt0">
		<div class="content-width">
			<div class="content-box">
				<div class="m-img-txt-box reverse">
					<div class="img-area">
						<div class="img-box">
							<Image
							src={aboutImage01}
							alt="事業内容1"
							class="fadein-trigger"
							width="428"
							height="379"
							/>
						</div>
					</div>
					<div class="txt-area">
						<h3 class="title">
							地域に、<br>
							<span class="zenkaku">｢巡らせる」</span>しごと。
						</h3>
						<div class="txt">
							<p>
								地域の発展には、インフラ設備、エネルギーの供給が必要不可欠です。<br>
								私たちのしごとは、給排水衛生設備工事・ガス設備工事といった、配管を張り「巡らせる」こと。
							</p>
							<p>
								この街の安全と発展に貢献すべく、地域と共に歩む企業として、地域に思いを「巡らせる」存在を、私たちは目指しています。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
#about-intro .m-img-txt-box .img-area {
	flex: 1;
}

#about-intro .m-img-txt-box .txt-area {
	width: 570px;
	padding: 0;
	flex: unset;
}

#about-intro .m-img-txt-box .txt-area .title {
	font-size: 6rem;
	margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
	#about-intro .m-img-txt-box .txt-area {
		width: 100%;
	}

	#about-intro .m-img-txt-box .txt-area .title {
		font-size: 4rem;
		margin-bottom: 25px;
		white-space: nowrap;
	}
}
</style>