---
---
<section id="about-history">
	<div class="sec-inner pt0">
		<div class="content-width">
			<div class="sec-ttl-box fadein-trigger is-active">
				<h2 class="sec-ttl">history</h2>
				<p class="sec-sub-ttl">沿革</p>
			</div>
			<div class="content-box">
				<div class="m-dl-container">
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
					<dl>
						<dt>1999年9月</dt>
						<dd>文部科学省の指定業者となる</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</section>