---
---
<section id="recruit-entry">
	<div class="sec-inner pt0">
		<div class="content-width">
			<div class="sec-ttl-box fadein-trigger is-active">
				<h2 class="sec-ttl">entry</h2>
				<p class="sec-sub-ttl">エントリー</p>
			</div>
			<div class="contact-box">
				<form action="https://ssgform.com/s/hOOcV8reaXzU" method="POST">
					<div id="fields-box">
						<dl>
							<dt><span>氏名</span><span class="required">必須</span></dt>
							<dd><input value="" type="text" name="your-name"></dd>
						</dl>
						<dl>
							<dt><span>ふりがな</span><span class="required">必須</span></dt>
							<dd><input value="" type="text" name="your-kana"></dd>
						</dl>
						<dl>
							<dt><span>住所</span><span class="required">必須</span></dt>
							<dd><input value="" type="text" name="your-zip"><br><input value="" type="text" name="your-address"></span></dd>
						</dl>
						<dl>
							<dt><span>メールアドレス</span><span class="required">必須</span></dt>
							<dd><input value="" type="email" name="your-email"></dd>
						</dl>
						<dl>
							<dt><span>電話番号</span><span class="required">必須</span></dt>
							<dd><input value="" type="tel" name="your-tel"></dd>
						</dl>
						<dl>
							<dt><span>備考・メッセージ</span><span class="required">必須</span></dt>
							<dd><textarea cols="40" rows="10" name="your-content"></textarea></dd>
						</dl>
					</div>
					<div id="submit-box">
						<button type="submit">送信する</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>