---
---
<section id="recruit-intro">
	<div class="sec-inner">
		<div class="content-width">
			<div class="content-box">
				<p class="message">
					地域の発展のために、<br class="sp-only">生活インフラを整えます<br>株式会社OOは、<span class="motion-bg-green bg-slide-trigger is-active">一人一人の尊厳を尊重</span>します。
				</p>
			</div>
		</div>
	</div>
</section>
<style>
#recruit-intro .message {
	text-align: center;
	font-size: 3.2rem;
	font-family: var(--shippori);
	line-height: 2.375;
}

#recruit-environment .m-img-txt-box {
	align-items: center;
}

#recruit-environment .m-img-txt-box:nth-child(even) {
	flex-direction: row-reverse;
}

#recruit-environment .m-img-txt-box:nth-child(even) .txt-area {
	padding-left: 0;
	padding-right: 50px;
}

@media screen and (max-width: 767px) {
	#recruit-intro .message {
		font-size: 2rem;
		line-height: 2.175;
	}
}
</style>